<footer class="footer">
  <small>
    <strong><a href="http://www.vanarama.co.uk/">Development Training</a></strong>
    by <em><a href="http://www.vanarama.co.uk">Jack Marzec</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>